asn1crypto==0.24.0
bitmath==1.3.3.1
certifi==2019.3.9
cffi==1.15.1
chardet==3.0.4
cryptography==2.5
Django==4.2
django-bootstrap-datepicker-plus==5.0.0
django-classy-tags==0.8.0
django-cookie-law==2.0.1
elasticsearch==7.9.1
git+https://github.com/cedadev/fwtheme-django@master#egg=fwtheme_django
git+https://github.com/cedadev/fwtheme-django-ceda-serv@master#egg=fwtheme_django_ceda_serv
idna==2.8
pycparser==2.19
pyOpenSSL==19.0.0
PySocks==1.6.8
pytest-runner==4.4
python-dateutil==2.8.2
pytz==2018.9
PyYAML==3.13
requests==2.31.0
six==1.16.0
urllib3==2.0.2
XlsxWriter==1.1.5
