{% extends "fwtheme_django/layout.html" %}
{% load staticfiles %}

{% block stylesheets_extra %}
{{form.media.css}}
{% endblock %}

{% block page_title %}
<h1>Downloads</h1>
{% endblock %}
{% block content %}
<form action="{% url 'index' %}" method="get">
    <div class="form-row">
        <div class="col">
            {{ form.start.label_tag }}
            {{ form.start }}
        </div>
        <div class="col">
            {{ form.end.label_tag }}
            {{ form.end }}
        </div>
        <div class="col">
            {{ form.user.label_tag }}
            {{ form.user }}
        </div>
    </div>
    <div class="form-row">
        <div class="col">
            {{ form.dataset.label_tag }}
            {{ form.dataset }}
        </div>
        <div class="col">
            {{ form.method.label_tag }}
            {{ form.method }}
        </div>
        <div class="col">
            {{ form.anon.label_tag }}
            {{ form.anon }}
        </div>
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}

{% block tail_js_extra %}
{{form.media.js}}
{% endblock %}