{% extends "fwtheme_django/layout.html" %}
{% load staticfiles %}
<link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
{% block stylesheets_extra %}
{{form.media.css}}
{% endblock %}

{% block head_title %}
Downloads
{% endblock %}
{% block page_title %}
<h1>Downloads</h1>
{% endblock %}

{% block content %}
<form action="{% url 'index' %}" method="get">
    <div class="form-row">
        <div class="col">
            {{ form.start.label_tag }}
            {{ form.start }}
        </div>
        <div class="col">
            {{ form.end.label_tag }}
            {{ form.end }}
        </div>
        <div class="col">
            {{ form.user.label_tag }}
            {{ form.user }}
        </div>
    </div>
    <div class="form-row mb-2">
        <div class="col">
            {{ form.dataset.label_tag }}
            {{ form.dataset }}
        </div>
        <div class="col">
            {{ form.method.label_tag }}
            {{ form.method }}
        </div>
        <div class="col">
            {{ form.anon.label_tag }}
            {{ form.anon }}
        </div>
    </div>
    <div class="input-group">
        <button type="submit" class="btn btn-primary mb-2 mr-2">Filter</button>
    </div>
</form>


<nav>
    <div class="nav nav-fill nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" data-toggle="tab" href="#methods">Methods</a>
        <a class="nav-item nav-link" data-toggle="tab" href="#timeline">Timeline</a>
        <a class="nav-item nav-link" data-toggle="tab" href="#dataset">Dataset Breakdown</a>
        <a class="nav-item nav-link" data-toggle="tab" href="#user">User Breakdown</a>
        <a class="nav-item nav-link" data-toggle="tab" href="#users">Users</a>
        <a class="nav-item nav-link" data-toggle="tab" href="#trace">Trace</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="methods" role="tabpanel" aria-labelledby="methods-tab">
        <div class="dropdown" >
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Convert to
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'json' 'methods' %}?{{request.GET.urlencode}}">json</a>
                <a class="dropdown-item" href="#">csv</a>
                <a class="dropdown-item" href="#">excel</a>
            </div>
        </div>
    </div>
    
    
    <div class="tab-pane fade" id="timeline" role="tabpanel" aria-labelledby="timeline-tab">
        <div class="dropdown" >
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Convert to
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'json' 'timeline' %}?{{request.GET.urlencode}}">json</a>
                <a class="dropdown-item" href="#">csv</a>
                <a class="dropdown-item" href="#">excel</a>
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="dataset" role="tabpanel" aria-labelledby="dataset-tab">
        <div class="dropdown" >
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Convert to
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'json' 'dataset' %}?{{request.GET.urlencode}}">json</a>
                <a class="dropdown-item" href="#">csv</a>
                <a class="dropdown-item" href="#">excel</a>
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="user" role="tabpanel" aria-labelledby="user-tab">
        <div class="dropdown" >
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Convert to
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'json' 'user' %}?{{request.GET.urlencode}}">json</a>
                <a class="dropdown-item" href="#">csv</a>
                <a class="dropdown-item" href="#">excel</a>
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="users" role="tabpanel" aria-labelledby="users-tab">
        <div class="dropdown" >
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Convert to
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'json' 'users' %}?{{request.GET.urlencode}}">json</a>
                <a class="dropdown-item" href="#">csv</a>
                <a class="dropdown-item" href="#">excel</a>
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="trace" role="tabpanel" aria-labelledby="trace-tab">
        <div class="dropdown" >
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Convert to
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'json' 'trace' %}?{{request.GET.urlencode}}">json</a>
                <a class="dropdown-item" href="#">csv</a>
                <a class="dropdown-item" href="#">excel</a>
            </div>
        </div>
    </div>

</div>


{% endblock %}

{% block tail_js_extra %}
{{form.media.js}}
{% endblock %}